adal==1.2.1
applicationinsights==0.11.9
argcomplete==1.10.0
asn1crypto==0.24.0
azure-common==1.1.20
azure-cosmos==3.1.0
azure-servicefabric==6.4.0.0
backports.functools-lru-cache==1.5
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
cheroot==6.5.5
CherryPy==18.1.1
cherrypy-cors==1.6
Click==7.0
colorama==0.4.1
cryptography==2.6.1
enum34==1.1.6
Flask==1.0.3
future==0.17.1
httpagentparser==1.8.2
idna==2.8
isodate==0.6.0
itsdangerous==1.1.0
jaraco.functools==2.0
Jinja2==2.10.1
jmespath==0.9.4
knack==0.5.2
MarkupSafe==1.1.1
more-itertools==7.0.0
msrest==0.6.6
msrestazure==0.6.0
mssql-scripter==1.0.0a23
nltk==3.4.1
oauthlib==3.0.1
portalocker==1.4.0
portend==2.4
psutil==5.6.2
pycparser==2.19
pycurl==7.43.0
Pygments==2.4.0
pygobject==3.20.0
PyJWT==2.4.0
python-apt==1.1.0b1+ubuntu0.16.4.4
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1
requests==2.22.0
requests-oauthlib==1.2.0
sfctl==7.1.0
sfmergeutility==0.1.6
six==1.12.0
tabulate==0.8.3
tempora==1.14.1
unattended-upgrades==0.1
urllib3==1.25.2
virtualenv==16.6.0
Werkzeug==0.15.4
zc.lockfile==1.4